

*{
    box-sizing: border-box;
}

html, body{
    margin: 0px;
}

html{
    font-family: 'CircularStd';
    padding: 20px;
}

.container{
    max-width: 700px;
    margin: 0 auto;
}

h1{
    font-weight: 400;
    font-size: 25px;
    margin: 30px 0px;
    text-align: center;
    margin-top: 60px;
}

.desc{
    margin-bottom: 50px;
    color: #999;
}

.switch{
    margin-bottom: 25px;
}

.switch span{
    border-bottom: 1px solid #c9c9c9;
    color: #aaa;
    margin-right: 10px;
    cursor: pointer;
}

.switch span.selected{
    color: #111;
    border-bottom: 1px solid #111;
}
